# OpenAI API Key for resume analysis
OPENAI_API_KEY=""

# MongoDB Connection String (e.g., mongodb+srv://username:password@cluster.mongodb.net/dbname)
MONGO_URI=""

# Secret key for JWT token signing
JWT_SECRET=""

# Port for the server to run on
PORT=3000
